meta(name="viewport", content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover")
link(rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/2.0.1/weui.min.css")
script(type="text/javascript" src="https://res.wx.qq.com/open/libs/weuijs/1.2.1/weui.min.js")
script(src='http://res.wx.qq.com/open/js/jweixin-1.4.0.js')
script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js")
